body {
  margin: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-screen {
  width: 1152px;
  height: 768px;
  position: relative;

  background-image: url("..//assets/start-screen-background-img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}
